szilardshomelab-talos-talos-master-01.yaml
szilardshomelab-talos-talos-master-02.yaml
szilardshomelab-talos-talos-master-03.yaml
szilardshomelab-talos-talos-worker-01.yaml
szilardshomelab-talos-talos-worker-02.yaml
szilardshomelab-talos-talos-worker-03.yaml
talosconfig
